/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/*
COLORS

        ORANGE  (links)     #FD7860

            orange lighter  #fd8e60
            orange ligthest #fd9b60

        GREEN   (selection) #AAFCC6

        BEIGE   (backgr)    #f7f1ea

        GRAY   (type)       #444

*/

/*
MEDIA QUERIES

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 512px) {
    
}
*/

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #444;
    font-size: 1em;
    line-height: 1.4;
    font-family: Maison Neue, Apercu, helvetica, arial, sans-serif;
    font-weight:300;
    background-color:#f7f1ea;
}

@media screen and (max-width: 1024px) {
    html {
        font-size:.95em;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size:.9em;
    }
}

@media screen and (max-width: 512px) {
    html {
        font-size:14px;
    }
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #AAFCC6;
    text-shadow: none;
}

::selection {
    background: #AAFCC6;
    text-shadow: none;
}

::-webkit-input-placeholder {
    color: #FD7860;
    opacity:.5;
}
:-moz-placeholder {
    color: #FD7860;
    opacity:.5;
}
::-moz-placeholder {
    color: #FD7860;
    opacity:.5;
}
:-ms-input-placeholder {
    color: #FD7860;
    opacity:.5;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


a:link,
a:hover,
a:active,
a:visited {
    color:#FD7860; /*orange*/
    text-decoration: none;


}
a:focus {
    outline-color:#AAFCC6;
}

.active {
    text-decoration:none;
}

nav:before {

}

/*a:link:after,
a:hover:after,
a:active:after,
a:visited:after {
    font-family:fontawesome;
    content:'\f1e5';
    font-size:.5em;
    vertical-align: 0.2em;
    padding:0 0 0 5px;
}*/

ul, 
ol,
li {
    list-style:none;
    padding:0;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* OVERALL */

body .main {
    width:70%;
    margin:0 auto;
    max-width:1024px;
}

h1 {
    line-height:.9;
    margin:0;
    width:70%;
    max-width:1024px;
    position:absolute;
    color:#FD7860;
    font-weight:700;
    font-size:2.6em;
    overflow:visible;
}
/*
.main > .div,
.main > article {
    margin-top:70px;
}*/

h2 {
}

h2 > a {
    border-bottom:2px solid rgba(253, 120, 96, 1);
    padding-bottom: 2px;
    transition: border-bottom .15s ease;
}

h2 > a:hover,
h2 > a:active {
    border-bottom:none;
}

.main {
    padding-top:340px;
}

.main .content {
    margin-top:0px;
}


.main article .body {
    overflow:auto;
}

@media screen and (max-width: 1024px) {
    body .main {
        width:80%;
    }

    .main {
        padding-top:300px;
    }

    h1 {
        font-size:2.2em;
        width:80%;
    }
}

@media screen and (max-width: 768px) {
    body .main {
        width:90%;
    }

    .main .content {
        margin-top:50px;
    }

    .main {
        padding-top:250px;
    }

    h1 {
        font-size:2.5em;
        text-align: center;
        width:90%;
    }
}

@media screen and (max-width: 512px) {
    body .main {
        width:100%;
    }

    .main {
        padding-top:200px;
    }

    h1 {
        font-size:2.5em;
        width:100%;
    }
}

/* MASTHEAD TITLE */
.masthead {
    width:1024px;
    margin:0 auto;
}

.masthead .brand {
    margin: 0 auto;
    position:absolute;
    top:100px;
    max-width:1024px;
    text-align: center;
    line-height:.35;
/*  text-shadow: 0px .1em #fd7F60, 0px .2em #fd8560, 0px .3em #fd8C60, 0px .4em #fd9260, 0px .5em #fd9960, 0px .6em #fdA060, 0px .7em #fdA660, 0px .8em #fdAD60, 0px .9em #fdB360;  */  
    letter-spacing:-5px;
    text-transform: uppercase;
    font-size:7em;
    font-weight:700;
    z-index:10000000;
    left:50%;
    width:100%;
    transform: translateX(-50%);
}

@media screen and (max-width: 1024px) {
    .masthead {
        width:768px;
    }

    .masthead .brand {
        font-size:6em;
        width:768px;
    }
}

@media screen and (max-width: 768px) {
    .masthead .brand {
        top:80px;
        font-size:5.5em;
        width:512px;
    }
}

@media screen and (max-width: 512px) {
    .masthead .brand {
        font-size:4.5em;
        width:400px;
    }
}



/* ALL NAVIGATION - MENUS */ 

.menus .item.dropdown {
}


.menus .item.dropdown .content {
    display:none;
    position:absolute;

}

.menus .item.dropdown:hover .content {
    display:block;
    text-align:left;
}

.menus .item.dropdown:hover .content * {
        text-align:left;
}

.menus .item.dropdown li {
    display:block;
    color:#AAFCC6;
    margin:.2em 0 0 0;
}

.menus .item.dropdown li a {
}


/* MAIN NAVIGATION */


.masthead .navigation {
    position:fixed;
    top:0;
    left:0;
    z-index:1000000000000;
    padding:10px 0 15px;
    width:100%;
    margin:0 auto;
    background: -webkit-linear-gradient(rgba(247, 241, 234, .9), rgba(247, 241, 234, 0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(247, 241, 234, .9), rgba(247, 241, 234, 0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(247, 241, 234, .9), rgba(247, 241, 234, 0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(247, 241, 234, .9), rgba(247, 241, 234, 0)); /* Standard syntax */
    transition: height .3s ease;
    height:50px;
    overflow:visible;
}

.masthead .navigation:hover {
    top:0;
    height:200px;
}


.masthead .navigation .menu {
    max-width:600px;
    margin:0 auto;
    font-size:22px;
    text-align: center;
    font-weight:500;
}

.masthead .navigation .item {
    display:inline-block;
    margin:0 5px;
}

.masthead .navigation .item a {
    border-bottom:2px solid rgba(253, 120, 96, 1);
    padding-bottom: 4px;
    transition: border-bottom .15s ease;
}

.masthead .navigation .item a:hover,
.masthead .navigation .item a:active {
    border-bottom:2px solid rgba(253, 120, 96, 0);
}

.masthead .navigation .link {

}

.masthead .navigation a:active,
.masthead .navigation a:hover {

}

@media screen and (max-width:768px) {
    .masthead .navigation .menu {
        font-size:20px;
    }
}

@media screen and (max-width:512px) {
    .masthead .navigation .menu {
        font-size:15px;
    }
}

/* UTILITY NAVIGATION & SEARCH */
.utility {
    position:fixed;
    width:100%;
    margin:0 auto;
    left:0;
    right:0;
    top:50px;
    text-align: center;
    display:block;
/*    background:#f7f1ea;
    background: linear-gradient(to bottom, rgba(247, 241, 234, 1), rgba(247, 241, 234, 0));
*/    padding:10px 0 30px 0;
    text-transform: lowercase;
    z-index: 100000000000000;
}   

.utility .menu {
    margin:0;
}

.utility .item {
    display:inline-block;
    margin:0 5px 10px 0;
} 

.utility .item a {
    display:inline-block;
    height:20px;
    padding:1px 10px;
    background-color: rgba(253, 120, 96, 1);
    transition: background-color .15s ease;
}

.utility .item a:hover,
.utility .item a:active {
    background-color: rgba(253, 120, 96, .4);
}
    
 .utility .item a {
    color:#f7f1ea;
    transition: color .15s ease;

}

.utility .item a:hover,
.utility .item a:active {
    color: #FD7860;
}

@media screen and (max-width:768px) {
    .masthead .navigation .menu {
        font-size:20px;
    }
}

@media screen and (max-width:512px) {
    .masthead .navigation .menu {
        font-size:15px;
    }
}

.form {
    position:fixed;
    display:inline-block;
    margin:15px 0 0 15px;
    top:0;
    left:0;
    z-index:90000000000000000000000000;

}

.form * {
    display:inline-block;

}

.form input,
.form button {
    background:none;
    border:none;
    padding:0;
    margin:0;
    color:#FD7860;
}

.form input {
    padding-left:3px;
    color:#444;
}

.form .field {
    padding:0;
    color:#39fd99;
    overflow:hidden;
    margin:0;
}

.form .action {
    float:left;
    padding: 0 10px 0 0; 

}

.form input:focus,
.form button:focus {
    outline:none;
    background:#AAFCC6;
}

.form button:after {
    content:":";
}

@media screen and (max-width: 1024px) {
    .form {
        top:inherit;
        bottom:0;
        color:#f7f1ea;
        padding:12px 0 0 10%;
        margin:0;
        width:100%;
        background-color:#FD7860;
        font-size:16px;
    }

    .form button,
    .form input {
        color: #f7f1ea;
    }

    .form input {
        height:20px;
    }

    .form input:focus {
        background:none;
    }

    ::-webkit-input-placeholder {
        color: #f7f1ea;
    }
    :-moz-placeholder {
        color: #f7f1ea;
    }
    ::-moz-placeholder {
        color: #f7f1ea;
    }
    :-ms-input-placeholder {
        color: #f7f1ea;
    }
}

@media screen and (max-width: 768px) {
    .form {
        padding:12px 0 0 5%;
    }
}

/* SOCIAL NAVIGATION */

.social {
    position:fixed;
    margin:0;
    right:15px;
    top:15px;
    z-index:90000000000000000000000000;
}  

.social .menu {
    margin:0;
}

.social .item {
    display:inline-block;
    padding:0 0 0 10px;
}

.social a {
    font: 0/0 a;
    color: transparent;
}

.social a:after {
    font: 16px/.5 fontawesome;
    color: #FD8160;
}

.social [href*="twitter"]:after {
    content:'\f099';
}

.social [href*="tumblr"]:after {
    content:'\f173';
}

.social [href*="vimeo"]:after {
    content:'\f194';
}

.social [href*="portfolios"]:after {
    content:'\f1b4';
}

.social [href*="flickr"]:after {
    content:'\f16e';
}

@media screen and (max-width: 1024px) {
    .social {
        top:inherit;
        bottom:5px;
        margin:0;
        color:#f7f1ea;
        padding:12px 8vw 0 0;
    }

    .social a:after {
        color: #f7f1ea;
    }
}

@media screen and (max-width: 768px) {
    .social {
        padding:12px 2.5% 0 0;
    }

}

@media screen and (max-width: 512px) {
    .social {
        padding:12px 1.5% 0 0;
    }
}

/* PAGINATION */
.paging {
    display:block;
    width:100%;
    margin:50px auto 40px auto;
    text-align:center;

}

.paging .paginate:before {
    display:block;
    content:"Go to page";
    margin:40px 0 10px 0;
}

.paging .item {
    display:inline-block;
    padding-right:10px;
}

.paging .item:last-of-type {
    padding-right:0;
}

.paging .item a:not(.active) {
    border-bottom:2px solid rgba(253, 120, 96, 1);
    transition: border-bottom .15s ease;
}


.paging .item a:not(.active):hover,
.paging .item a:not(.active):active {
    border-bottom:2px solid rgba(253, 120, 96, 0);
}

.formats {
    margin:0 auto 4em auto;
    text-align:center;
}

.formats:before {
    content:"Browse by";
    display:block;
    margin: 20px 0 10px 0;
}

.formats .menu {
    margin:0;
}

/* SUB */

.sub {
    width:100%;
    padding: 1em 0;
    margin:0 auto;
    background: rgba(253, 120, 96, .5);
}

.sub .archives {
    margin:0 auto;
    text-align:center;
}



.sub .archives {
margin-bottom:20px;
}

.sub .subscribe,
.sub .tags {
    width:48.5%;
    height:170px;
    float:left;
    overflow: visible;
    text-align: center;
}

.sub .subscribe {
    margin: 20px 1.5% 10px 0;

}

.sub .subscribe * {   
    background:none;
    border:none;
}

.sub .subscribe input:focus,
.sub .subscribe button:focus {
    outline:none;
    background:#AAFCC6;
}

.sub .tags {
    margin: 20px 0 10px 1.5%;
}

.sub h2 {
    color:#444;
    font-weight:500;
}

.sub .tags a,
.sub .subscribe a {

}

.sub .subscribe .clear {
    display:inline-block
}

.sub .subscribe .button {
    display:inline-block;
        color:#FD7860;
}

.sub .subscribe .mc-field-group > label {

}

.sub .subscribe .mc-field-group .email {

}

.sub .subscribe .button:hover,
.sub .subscribe .button:active {

}

.sub .rss {
    display:block;
}



.sub .calendar {
    display:none;
}

@media screen and (max-width: 1024px) {
    .sub .subscribe,
    .sub .tags {
        float:none;
        margin: 0 auto;
    }

    .sub .subscribe {
        margin-top:50px;
    }
}

@media screen and (max-width: 768px) {
    .sub {
        background: #FD7860;
    }

    .sub a {
        color:#f7f1ea;
    }
}

@media screen and (max-width: 512px) {
    .sub {

    }
}

/* FOOTER */

body footer {
    display:block;
    margin: 0 auto;
    text-align:center;
    padding:60px 0;
    background: rgba(253, 120, 96, .5);

}

body > .footer .departments {
}

body > .footer .departments .item {
    display:inline-block;
    margin:0 10px;
}

body > .footer .legal {

}

@media screen and (max-width: 768px) {

    body > footer {
        background: #FD7860;
    }

    body footer a:link,
    body footer a:hover,
    body footer a:active,
    body footer a:visited {
        color:#f7f1ea;
    }
}


/* EVENTS & NEWS LISTING PAGE */

body.list,
body.list {
    display:inline-block;
    width:100%;
    margin:0 auto;
}

body.list .items {
    overflow:auto;
}

body.list .event {
    width:100%;
    float:left;
    margin:40px auto 0 auto;
}



body.event.list .events:last-child {
    margin-bottom:40px;
}

body.event.list .attach {
    width:400px;
    height:200px;
    float:left;
    margin:0px 20px 0 0;
    background-color: #AAFCC6;
    overflow: hidden;

}



body.event.list .event .attach img {
}

body.event.list .event .content {

}

@media screen and (max-width: 512px) {
    body.event.list .event .content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

body.event.list .event .header {
}

body.event.list .event .content .heading {
    font-size:24px;
    margin:0 0 10px 0;

    
}

body.event.list .event .content .meta {
    font-weight:100;
    font-size:14px;
    margin:0 0 10px 0;
    padding-bottom:5px;
/*    border-bottom: 1px solid #444;
*/}

body.event.list .event .content .meta * {
    color:#FD7860;
    display:inline-block;
}

body.event.list .event .content .meta p {
    margin:0 20px 0 0;
}

body.event.list .event .content .meta .date:before {
    
}

body.event.list .event .content .meta .location:before {
    
}

body.event.list .event .content .copy p {
    margin:0 0 10px 0;
}

body.event.list .event .content .footer nav {
    font-weight:100;
    font-size:14px;
    display:inline-block;
}

body.event.list .event .content .footer a {
    display:inline-block;
    margin: 0 20px 0 0;
}



@media screen and (max-width: 1024px) {
    body.event.list .event {
        float:none;
        margin-bottom:20px;
    }  
    body.event.list .event .attach {
        float:none;
        width:100%;
    }  
    body.event.list .event .attach img {
        width:100%;
    }
    body.event.list .event .content {
        margin-top:15px;
    }
}

@media screen and (max-width:512px) {
    body.event.list .attach {
        height:400px;
    }
}

/* PROFILE DETAIL PAGE */

body.profile {
    overflow:auto;
}

body.profile .page {
    overflow:auto;
}

body.profile p:first-of-type {
    margin-top:0;
}

body.profile .attach {
    min-width:60%;
    width:58%;
    float:left;
    overflow:hidden;
    max-height:400px;
    margin:0 2% 20px 0;
}


body.profile .attach img {
    margin:0;
    width:100%;
}

body.profile .attach .caption {
    margin-top:10px;
}

body.profile aside {
    float:left;
}

body.profile aside.profiles,
body.profile header {
    float:right;
    width:38%;
}

body.profile aside.gallery {
    width:60%;
    float:left;
    margin-top:20px;
}

body.profile aside.gallery .slides {
    margin:0;
}

body.profile aside.gallery .slide {
    margin-bottom:20px;
}

body.profile aside.gallery img {
    width:100%;
    margin:0;
}

body.profile .header .date:before {
    content:"Date: ";
    font-style:italic;
}

body.profile .header .categories:before {
    content:"Category: ";
    font-style:italic;
}

body.profile .header .tags:before {
    content:"Tags: ";
    font-style:italic;
}

body.profile .body {
    width:38%;
    float:right;
    margin:20px 0 0 2%;
}

body.profile .card {
    margin-top:20px;
}

body.profile .card * {
    margin:0;
}

body.profile .card .item {
    display:inline-block;
    margin-right:10px;
}


body.profile .card .attach {
    display:block;
    width:100%;
    display:none;
}

body.profile footer .byline {
    }

body.profile footer {
    margin-top:100px;
    
}

@media screen and (max-width: 768px) {
    body.profile .body {
        float: none;
        width: 100%;
    }

    body.profile aside.gallery {
        float: none;
        width:100%;
        max-height:600px;
        overflow-x:scroll;
        margin-top:3em;
        display:inline-block;
    }

    body.profile aside.gallery * {
        display:inline-block;
        white-space: nowrap;
    }
}

@media screen and (max-width: 512px) {
    body.profile .body {
        width:90%;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.passive {
    opacity:.5;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
